/examples/Africa/plots
/examples/south_america/plots
/examples/Europe/plots
/examples/Alps/Miocene/plots
/examples/Europe/LastMillennium/plots
/examples/Europe/LastMillennium/save_files

*__pycache__*
