/examples/Africa/plots
/examples/south_america/plots
/examples/Europe/plots
/examples/Alps/Miocene/plots
/examples/Alps/plots
/examples/Europe/LastMillennium/plots
/examples/Europe/LastMillennium/save_files
*.DS_Store
*.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info
*.egg


*__pycache__*
